/* Reset some default styling */
body, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}

/* Basic styling for the page */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  margin-right: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
}

#button {
  padding: 10px 20px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.view-btn{
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(161, 23, 161);
  color: #f7f7f7;
}
.book-now{
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(161, 23, 161);
  color: #f7f7f7;
}
.book-now:hover{
  background-color: rgb(141, 223, 18);
  color: black;
}
.main-content {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-list {
  list-style: none;
}

.category-list li {
  margin-bottom: 10px;
}

.category-list a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.category-list a:hover {
  transform: scale(1.9);
  transition: 0.1s ease-in-out;
  color: #a01d1d;
}

.movie-list, .search-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
  text-align: center;
}
.movie-card:hover{
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.movie-card img, .popup img, .search-list img{
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie-card h3, .popup h2, .search-list h2{
  font-size: 18px;
  margin-bottom: 5px;
}

.movie-card p, .popup p, .search-list p{
  font-size: 14px;
}
.selected {
  color: red;
}

.cross{
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(161, 23, 161);
  color: #f7f7f7;
}
.cross:hover{
  background-color: rgb(235, 88, 88);
}

#popup{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 700px;
  height: 500px;
  background-color: #34163f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  transform: translate(0, -1500px);
  transition-duration: 500ms;
  border-radius: 2rem;
}
.menu-icon {
  display: block;
  cursor: pointer;
  padding: 20px;
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  
  .search-bar {
    flex-direction: column;
    align-items: stretch;
  }

  input[type="text"] {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  button {
    border-radius: 5px;
  }

  .movie-list {
    justify-content: flex-start;
  }
  #popup{
    position: absolute;
    width: 60%; 
    padding: 10px; 
    font-size: 14px;
    left: 2rem;
    border-radius: 8px;
    top: 4rem;
  }
  #popup img{
    max-width: 100%; 
  height: auto;
  }
  .sidebar {
    width: 250px; 
    left: 0; 
  }
  .movie-list{
    position: absolute;
    left: 0;
  }
  .menu-icon {
    display: block;
  }
}